body {
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

header {
    background-color: #FFFFFF;
}

main {
    -webkit-text-stroke: 0.2px white; 
    color: black;
    background: url('img/bg.png') no-repeat center center fixed;
    background-size: cover;
    padding: 24px;
    text-align: center;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}